<head>
    <title>Mocha Spec Runner</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/mocha/mocha.js"></script>
    <script src="bower_components/chai/chai.js"></script>
    
    <link href="bower_components/mocha/mocha.css"></link>
</head>
<body ng-app="AddressBook">
<div id="mocha"></div>
    
    <script>
        mocha.setup("bdd");
    </script>
    
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="main.js"></script>
    <script src="main.spec.js"></script>
    
    <script>
        mocha.run();
    </script>
</body>