html {
	font-family: roboto, monospace, sans-serif; 
}

body {
	margin: 64px;
	background-color: #346656;
}

h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

h1,h2 {
	color: #f3f3f3;
}

h3 {
	margin-bottom: 40px;
}

a {
	color: #346656;
}

.inline-module {
	background-color: #f9f9f9;
	min-height:520px;
	width:300px;
	float: left;
	margin: px 24px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #999;
	padding: 12px 36px;
	border-radius: 4px;
}

.inline-module:nth-child(1) {
	margin-left:0px;
}

input {
	padding: 6px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-radius:3px;
	margin-top: -5px;
	float: right;
}


label {
	display: block;
	margin: 25px 0px;
}

input {
	
}

avatar span {
	padding: 4px 5px;
	margin: 0px 12px;
	border: 1px solid #999;
	border-bottom: 2px solid #999;
	color: white;
	background-color: #de1283;
}

.warning {
	border: 1px solid #aaa;
	border-bottom: 2px solid #ccc;
	padding: 12px;
	text-align: center;
	background-color: #ffeeee;
}